name: Release

on:
  push:
    tags:
      - 'v**'

permissions:
  id-token: write
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 24.11.0
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Extract release notes
        run: pnpm releaselog --format=notes ${{ github.ref_name }} | head -n -3 > RELEASE_NOTES.md

      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          body_path: RELEASE_NOTES.md
          prerelease: ${{ contains(github.ref_name, '-') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        run: pnpm run build

      - name: Publish to npm
        run: npm i -g npm && pnpm publish --access public --no-git-checks
